{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "quotes": [2, "double"],
    "indent": [2, 4, {"SwitchCase": 1}],
    "curly": [2, "multi-or-nest", "consistent"],
    "space-before-function-paren": [2, "never"],
    "eqeqeq": [2, "smart"],
    "object-curly-spacing": [2, "never"],
    "comma-dangle": [2, "never"]
  }
}